<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite" verbose="1" parallel="none">

  <test name="app">
    <classes>
      <class name="ledsak.AllLeadTest" />
      <class name="ledsak.SidebarTest" />
      <class name="ledsak.DashboardTest" />
      <class name="ledsak.LoginTest" />
      <class name="ledsak.LeadSetupTest" />
      <class name="ledsak.LeadCreateTest" />
    </classes>
  </test>

  <test name="website">
    <classes>
      <class name="website.HomeTest" />
      <class name="website.PricingTest" />
      <class name="website.ContactUsTest" />
    </classes>
  </test>

</suite>